@import "../../vars";

.convert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__cell {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    margin: 15px;

    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }

  &__hint {
    &--rate {
      margin-top: 5px;
    }
  }

  &__button {
    background-color: rgba($primary-color, 0.9);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
    }

    &--inactive {
      background-color: grey;

      &:hover {
        background-color: grey;
      }
    }
  }
}
